<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
    <div id="container">
        <div class="wrapper" id="profile">
            <div>Hello! <b><%=user.dataValues.nickname%></b></div>
            <div>Deposit: 4000000won</div>
            <a id="logout-btn" href="/auth/logout" class="btn">로그아웃</a>
            <a id="logout-btn" href="/charge_money" class="btn">잔액 충전</a>
            <a id="register-btn" href="/register_good" class="btn">상품 등록</a>
            <a id="register-btn" href="/mylist" class="btn">내 낙찰 목록</a>
        </div>

        <div class="wrapper" id="product">
            <table id="table">
                <tr>
                    <th>상품</th>
                    <th class="img">이미지</th>
                    <th>시작가격</th>
                    <th>종료시간</th>
                    <th>입장</th>
                </tr>
                <% for (good of goods) { %>
                    <tr>
                        <td class="good_name"><%=good.dataValues.name%></td>
                        <td class="img"><img src="/uploads/<%=good.dataValues.img%>"/></td>
                        <td class="good_price"><%=good.dataValues.price%></td>
                        <td class="time-container"><div class="time" style="text-align: center" data-start="<%=good.dataValues.createdAt%>">00:00:00</div></td>
                        <td class="enter-btn-wrapper"><a class="enter-btn" href="/good/<%=good.dataValues.id%>">Enter</a></td>
                    </tr>
                <% } %>
            </table>
        </div>

    </div>
    <script>
        var sse = new EventSource('/sse');
         sse.onmessage = function(event) {
            [].forEach.call(document.querySelectorAll('.time'), function(td) {
                var end = new Date(td.dataset.start);
                var server = new Date(parseInt(event.data, 10));
                end.setDate(end.getDate() + 1);
                 if (server >= end) {
                    td.innerHTML = '00:00:00'; 
                } else { 
                    var time = end - server;
                    var seconds = ('0' + Math.floor((time/1000) % 60)).slice(-2);
                    var minutes = ('0' + Math.floor((time/1000/60) % 60)).slice(-2);
                    var hours = ('0' + Math.floor((time/(1000*60*60)) % 24)).slice(-2);
                    td.innerHTML = `${hours}:${minutes}:${seconds}`;
                }       
            })
        }
     </script>
</body>