<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link rel="stylesheet" href="/css/room.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/event-source-polyfill/0.0.9/eventsource.min.js"></script>
</head> 
<body>
    <div id="container">
        <div class="wrapper" id="profile">
            <div>Hello! <%=user.dataValues.name%></div>
            <div>Deposit: <%=user.dataValues.money%>won</div>
            <a href="/" id="home-btn" class="btn">뒤로 가기</a>
        </div>

        <div class="wrapper" id="product">
            <div id="title">입찰하기</div>
            <table id="table">
                <tr>
                    <th>PRODUCT</th>
                    <td><%=good.dataValues.name%></td>
                </tr>
                <tr>
                    <th>AUTHOR</th>
                    <td><%=nickname%></td>
                </tr>
                <tr>
                    <th>STARTING PRICE</th>
                    <td><%=good.dataValues.price%></td>
                </tr>
            </table>
            <img id="img" src="/uploads/<%=good.dataValues.img%>"/>
        </div>

        <div class="wrapper" id="bid">
            <div class="bid-wrapper">
                <div id="time"> 
                    <div>남은 시간</div>
                    <div id="time-value" data-start="<%=good.dataValues.createdAt%>">00:00:00</div>
                </div>
                <div id="chat-wrapper">
                    <% for ( auction of auctions ) { %>
                        <div class="bid-info">
                            <div class="user"><%=auction.dataValues.user.dataValues.nickname%>: </div>
                            <div class="dollar"><span style="color: rgb(255, 0, 98); font-weight: bold;"><%=auction.dataValues.price%></span> dollars</div>
                            <% if(auction.dataValues.comment) { %>
                                <div class="message">[<%=auction.dataValues.comment%>]</div>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="bid-wrapper">                
                <form id="bid-form">
                    <input class="input" id="price" type="text" placeholder="price"/>
                    <input class="input" id="comment" type="text" placeholder="comment"/>
                    <button class='btn'>bid</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/event-source-polyfill/0.0.9/eventsource.min.js"></script>

    <script>
        var sse = new EventSource('/sse');
        sse.onmessage = function(event) {
            var td = document.querySelector('#time-value');
            var end = new Date(td.dataset.start);
            var server = new Date(parseInt(event.data, 10));
            end.setDate(end.getDate() + 1);
            if (server >= end) {
                td.innerHTML = '00:00:00'; 
            } else { 
                var time = end - server;
                var seconds = ('0' + Math.floor((time/1000) % 60)).slice(-2);
                var minutes = ('0' + Math.floor((time/1000/60) % 60)).slice(-2);
                var hours = ('0' + Math.floor((time/(1000*60*60)) % 24)).slice(-2);
                td.innerHTML = `${hours}:${minutes}:${seconds}`;
            }
        }
    </script>
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
        document.querySelector('#bid-form').addEventListener('submit', function(event) {
            event.preventDefault();
            var xhr = new XMLHttpRequest();
            xhr.onload = function() {
                if (xhr.status === 200) {
                    event.target.price.value = '';
                    event.target.comment.value = '';
                } else {
                    console.error(xhr.responseText);
                    event.target.price.value = '';
                    event.target.comment.value = '';
                }
            }
            xhr.open('POST', '/good/<%=good.dataValues.id%>/bid');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                price: event.target.price.value,
                comment: event.target.comment.value
            }));
        });
    </script>
    <script>
        var socket = io.connect('http://localhost:9006', {path: '/socket.io'});
        socket.on('bid', function(data) {
            var bid_info = document.createElement('div');
            bid_info.setAttribute('class', 'bid-info');
            var user = document.createElement('div');
            user.setAttribute('class', 'user');
            user.innerHTML = `${data.nickname}:&nbsp `

            var price = document.createElement('span');
            price.setAttribute('style', 'color: rgb(255, 0, 98); font-weight: bold;');
            price.innerHTML = `${data.price} `


            var unit = document.createElement('span');
            unit.setAttribute('style', 'color: white;');
            unit.innerHTML = 'dollars&nbsp'

            var dollar = document.createElement('div');
            dollar.setAttribute('class', 'dollar');
            dollar.appendChild(price);
            dollar.appendChild(unit);



            bid_info.appendChild(user);
            bid_info.appendChild(dollar);
            if(data.comment) {
                var message = document.createElement('div');
                message.setAttribute('class', 'message');
                message.innerHTML = ` [${data.comment}]`
                bid_info.appendChild(message);
            }
            document.querySelector('#chat-wrapper').appendChild(bid_info);
        });
    </script>
</body>